nav {
    background-color: var(--color-black);
    height: 30px;
    font-family: var(--secondary-font);
}
a {
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--secondary-font);
    font-size: 20px;
    margin: 10px;
}