nav {
    background-color: var(--color-black);
    height: 30px;
    font-family: var(--secondary-font);
}
a {
    text-decoration: none;
    color: var(--color-white);

    font-size: 20px;
    margin: 0px 3%;
}
a:hover {
    color: var(--color-primary);
}
.ri-arrow-down-line {
    color: aliceblue;
    position: relative;
    top: 2%;
    left: 87%;
}
.pages {
    background-color: var(--color-gray);
    width: 20%;
    border-radius: 10px;
    position: absolute;
    top: 10px;
}